 <style>
        body {
          background-color: lightgray;
        }
        h2 {
             color: firebrick;
        }
        h3 {
            color: green;
        }
        img {
        border: 7px solid black;
        }
        footer {
               text-align: center;
        }
        .test {
           width: 90%;
           margin-left: 5%;
           margin-top: 100px;
        }
    </style>